html {
    scroll-behavior: smooth;
}

a {
    list-style: none !important;
    color: black !important;
    text-decoration: none;
}

a:hover {
    list-style: none !important;
    color: black !important;
    text-decoration: none;
}

.text-putih {
    color: white !important;
}

.text-hover {
    position: relative;
}

.text-hover::after {
    content: '';
    width: 0%;
    height: 7%;
    background: #3a6186;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #89253e, #3a6186);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #89253e, #3a6186);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    position: absolute;
    bottom: 0%;
    left: 50%;
    border-radius: 10%;
    transition: all 500ms ease;
}

.text-hover:hover::after {
    left: 0%;
    width: 100%
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.hitam-trans {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #0000009c;
    top: 0
}

.hitam-trans1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #0000009c;
    top: 0;
    opacity: 0;
    transition: 0.5s ease;
}

.hitam-trans1:hover {
    opacity: 0.9;
    transition: 0.5s ease;
    /* transform: rotate(360deg); */
    overflow: hidden;
    object-fit: cover;


}


.float {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 25px;
    right: 25px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

.float:hover {
    color: #077c33;

}

.about_img {
    width: 100%;
    height: 100%;
}



.about_img img {
    /* width: 90%; */
    filter: grayscale(100%);
    transition: all 0.5s ease 0s;
}

.about_img img:hover {
    transition: all 0.5s ease 0s;
    filter: grayscale(0%);
    transform: scale(1.1);
}


.rotateme {
    animation-name: rotateme;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation-name: rotateme;
    -webkit-animation-duration: 40s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: rotateme;
    -moz-animation-duration: 40s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: rotateme;
    -ms-animation-duration: 40s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    -o-animation-name: rotateme;
    -o-animation-duration: 40s;
    -o-animation-iteration-count: infinite;
    -o-animation-timing-function: linear
}

@keyframes rotateme {
    from {
        transform: rotate(0)
    }

    to {
        transform: rotate(360deg)
    }
}

@-webkit-keyframes rotateme {
    from {
        -webkit-transform: rotate(0)
    }

    to {
        -webkit-transform: rotate(360deg)
    }
}

@-moz-keyframes rotateme {
    from {
        -moz-transform: rotate(0)
    }

    to {
        -moz-transform: rotate(360deg)
    }
}

@-o-keyframes rotateme {
    from {
        -o-transform: rotate(0)
    }

    to {
        -o-transform: rotate(360deg)
    }
}

.single_resume strong {
    color: #000;
    font-size: 14px;
}

.dark_bg_1 .single_resume strong {
    color: #fff;
}

.single_resume h5 {
    font-size: 16px;
    font-weight: 700;
}

.dark_bg_1 .single_resume h5 {
    color: #fff;
}

.single_resume {
    box-shadow: 0px -1px 30px rgba(0, 0, 0, 0.1);
    display: block;
    padding: 30px 30px;
    margin-bottom: 30px;
    position: relative;
}

.dark_bg_1 .single_resume {
    box-shadow: 0px -1px 30px rgba(255, 255, 255, 0.2);
    display: block;
    position: relative;
}

.single_resume:after {
    content: "";
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0 auto;
    width: 90%;
    height: 2px;
    background: #000;
    position: absolute;
    transition: all 0.3s ease;
}

.dark_bg_1 .single_resume:after {
    content: "";
    width: 90%;
    height: 2px;
    background: #fff;
    position: absolute;
    transition: all 0.3s ease;
}

.single_resume:hover:after {
    width: 100%;
}


.text-cycler {
    text-align: center;
    font-size: 25px;
}

.text-cycler span {
    white-space: nowrap;
    vertical-align: text-top;
    color: #fff;
    font-family: Josefin Sans, arial, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 6vw;
}

.c-text {
    display: inline-block;
}




.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}



#loader {
    position: fixed;
    width: 96px;
    height: 96px;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.24);
    border-radius: 16px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .2s ease-out, visibility 0s linear .2s;
    -o-transition: opacity .2s ease-out, visibility 0s linear .2s;
    transition: opacity .2s ease-out, visibility 0s linear .2s;
    z-index: 1000;
}

#loader.fullscreen {
    padding: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    background-color: #fff;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#loader.show {
    -webkit-transition: opacity .4s ease-out, visibility 0s linear 0s;
    -o-transition: opacity .4s ease-out, visibility 0s linear 0s;
    transition: opacity .4s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}

#loader .circular {
    -webkit-animation: loader-rotate 2s linear infinite;
    animation: loader-rotate 2s linear infinite;
    position: absolute;
    left: calc(50% - 24px);
    top: calc(50% - 24px);
    display: block;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}

#loader .path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    -webkit-animation: loader-dash 1.5s ease-in-out infinite;
    animation: loader-dash 1.5s ease-in-out infinite;
    stroke-linecap: round;
}

@-webkit-keyframes loader-rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes loader-rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes loader-dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }

    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -136px;
    }
}

@keyframes loader-dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }

    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -136px;
    }
}

.text-center-custom {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.about_me {
    margin-top: 30px;
}

.about_me .email a {
    color: #666;
}

.about_me div {
    margin-bottom: 10px;
}

.about_me span {
    display: inline-block;
    position: relative;
    font-size: 15px;
    font-weight: 600;
    color: #000;
    width: 150px;
    margin-right: 30px;
}

.dark_bg_1 .about_me span {
    color: #fff;
}

.about_me span:after {
    content: ":";
    position: absolute;
    right: 0;
}


/* ----------------------------------------------------------------
    [ 02 Start Buttons ]
-----------------------------------------------------------------*/
/* Start Btn-Style */
.main_btn {
    color: #fff;
    font-size: 14px;
    margin-top: 30px;
    text-transform: capitalize;
    padding: 23px 40px;
    letter-spacing: 0.6px;
    font-weight: 600;
    background: #000;
    line-height: 10px;
    border-radius: 30px;
    border: none;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out 0s;
    position: relative;
}

.dark_bg_btn {
    color: #000;
    background: #fff;
}

.main_btn:focus,
.main_btn:hover {
    color: #fff;
    background: #000;
}

.dark_bg_btn:focus,
.dark_bg_btn:hover {
    color: #000;
    background: #fff;
}

.main_btn:before,
.main_btn:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: all 0.5s ease 0s;
}

.main_btn:hover:before {
    background: rgba(255, 255, 255, 0.7);
    left: 60%;
    right: 60%;
}

.dark_bg_btn:hover:before {
    background: rgba(0, 0, 0, 0.7);
    left: 60%;
    right: 60%;
}

.main_btn:hover:after {
    background: rgba(255, 255, 255, 0.7);
    top: 60%;
    bottom: 60%;
}

.dark_bg_btn:hover:after {
    background: rgba(0, 0, 0, 0.7);
    top: 60%;
    bottom: 60%;
}

.about_btn .main_btn.contact_btn {
    margin-right: 15px;
}

.about_btn .contact_number {
    background: transparent;
    border: 1px solid #000;
    font-size: 14px;
    margin-top: 30px;
    padding: 23px 40px;
    letter-spacing: 0.6px;
    font-weight: 600;
    line-height: 10px;
    border-radius: 30px;
}

.about_btn .dark_cn {
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
}

.about_btn .contact_number:focus {
    background: transparent;
    border: 1px solid #000;
    box-shadow: none;
}

.about_btn .dark_cn:focus {
    background: transparent;
    border: 1px solid #fff;
    box-shadow: none;
}

.blog_btn {
    padding: 20px 30px;
}

/* ----------------------------------------------------------------
  [ End Buttons ]
-----------------------------------------------------------------*/


/* Skill-area */
.skill_area {
    /* margin-top: 80px; */
}

.single_resume p {
    text-align: justify;
}

.progress_area {
    /* float: left; */
    width: 100%;
    margin: 0 0 -25px;
}

.skillbar {
    margin: 0 0 15px;
    float: left;
    width: 100%;
}

.skillbar>span {
    font-size: 15px;
    line-height: 1;
    display: table;
    margin: 0 0 10px;
    text-transform: capitalize;
}

.skillbar>.progress {
    border-radius: 0;
    height: 5px;
    background: rgba(0, 0, 0, 0.1);
    overflow: visible;
}

.dark_bg_1 .skillbar>.progress {
    border-radius: 0;
    height: 5px;
    background: rgba(255, 255, 255, 0.1);
    overflow: visible;
}

.skillbar>.progress .progress-bar {
    height: 100%;
    position: relative;
    background: #000;
}

.dark_bg_1 .skillbar>.progress .progress-bar {
    background: #fff;
}

.skillbar>.progress .progress-bar span {
    position: absolute;
    right: -8px;
    bottom: 100%;
    background: #000;
    padding: 2px 9px;
    font-size: 12px;
    margin-bottom: -14px;
    border-radius: 2px;
}

.dark_bg_1 .skillbar>.progress .progress-bar span {
    background: #fff;
    color: #000;
}

.progress {
    box-shadow: none;
}

.progress-bar {
    box-shadow: none;
}


.banner_social_link {
    margin-top: 12px;
    padding: 0;
}

.banner_social_link li {
    display: inline-block;
    margin: 0 5px;
}

.banner_social_link a {
    position: relative;
    display: block;

    color: rgb(255, 255, 255);
    font-size: 22px;
    line-height: 45px;
    border-radius: 50%;
    text-decoration: none;
    transition: 0.3s;
    z-index: 0;
    margin: 0 10px;
}

.banner_bg_2 .banner_social_link a {
    color: #fff;
}

.banner_social_link a:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    border-radius: 50%;
    -webkit-transform: scale(0);
    transform: scale(0);
    transition: 0.3s;
    z-index: -1;
}

.banner_bg_2 .banner_social_link a:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff;
}

.banner_social_link a:hover:before {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.banner_social_link a:hover {
    color: #fff;
}

.banner_bg_2 .banner_social_link a:hover {
    color: #000;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}







@media only screen and (min-width: 360px) and (max-width: 479px) {
    .slider-front h1 {
        font-size: 20px !important;
    }

    .paket h1 {
        font-size: 25px !important;
        margin-top: 10px;
    }

    .slider-front p {
        font-size: 12px !important;
    }

    .slider-front a {
        /* font-size: 8px !important; */
    }

    .box-img {
        padding-bottom: 50% !important;
    }

    .nav-tabs .nav-item {
        width: 30%;
        font-size: 11px;
        text-align: center;
    }
}
