.box-img{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-bottom: 56%;
    min-width: 100%;
       position: relative
}

.hitam-trans{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #0000009c;
    top: 0;
    opacity: 0;
    transition: 0.5s ease;
}

.hitam-trans:hover {
    opacity: 0.9;
    transition: 0.5s ease;
    /* transform: rotate(360deg); */
    overflow: hidden;
    object-fit: cover;
}

.copyright{
    width: 100%;
    color:white;
    background-color: #398DA5;
}

.footer-bawah ul li a{
    color:white;
    text-decoration: none;
}